[edit]
    command = "nvim"

[diff]
    command = "delta"
    args = ["--paging=never"]

[merge]
    command = "nvim"
    args = ["-d"]

[git]
    autoCommit = false
    autoPush = false

[status]
    pathStyle = "relative"

[update]
    recurseSubmodules = true
