[submodule "dotbot"]
  path = dotbot
  url = https://github.com/anishathalye/dotbot
  ignore = dirty
[submodule "shell/oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = shell/oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = shell/oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "shell/oh-my-zsh/custom/themes/powerlevel10k"]
	path = shell/oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
